*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/bundle

Gemfile.lock

rspec.log

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

*.gem
