---
http_interactions:
- request:
    method: put
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/orders/0
    body:
      encoding: UTF-8
      string: '{"orderNo":"CKMIMBWA","externalId":"CKMIMBWA","items":[{"sku":"FAKE-PRODUCT","quantity":1}],"options":{"currency":"MXN"},"shipTo":{"email":"cicero_bartell@dietrich.com","name":"Miss
        Leopoldo Conn","address1":"540 West Boylston St.","city":"Worcester","state":"MA","postalCode":"01606","country":"US","phone":"778-532-4955"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Process-Time-Seconds:
      - '0.024734'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"status":400,"message":"Order ID not detected. Please make a POST if you wish to create an order.","resourceLocation":null}
  recorded_at: Tue, 09 Jun 2015 23:29:52 GMT
recorded_with: VCR 2.9.3
