---
http_interactions:
- request:
    method: put
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/orders/91302995?expand=all
    body:
      encoding: UTF-8
      string: '{"orderNo":"BYRAFPAM","externalId":"BYRAFPAM","items":[{"sku":"FAKE-PRODUCT","quantity":1}],"options":{"currency":"MXN"},"shipTo":{"email":"darrion_sanford@rodriguez.ca","name":"Mathilde
        Romaguera","address1":"540 West Boylston St.","city":"Worcester","state":"MA","postalCode":"01606","country":"US","phone":"977-701-4083"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '1.118875'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91302995","resource":{"externalId":"PZYUUKJA","orderNo":"BYRAFPAM","commerceName":"Shipwire","processAfterDate":"2000-01-01T00:00:00-08:00","lastUpdatedDate":"2015-06-09T16:29:48-07:00","status":"held","id":91302995,"transactionId":"1433892588-496044-1","needsReview":0,"holds":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91302995\/holds?offset=0&limit=20&expand=all","resource":{"offset":0,"total":5,"previous":null,"next":null,"items":[{"resourceLocation":null,"resource":{"id":356953,"orderId":91302995,"externalOrderId":"PZYUUKJA","type":"customer","description":"Order is currently being posted","appliedDate":"2015-06-09T16:29:49-07:00","clearedDate":null}},{"resourceLocation":null,"resource":{"id":356955,"orderId":91302995,"externalOrderId":"PZYUUKJA","type":"customer","description":"There are no items in this order","appliedDate":"2015-06-09T16:29:53-07:00","clearedDate":null}},{"resourceLocation":null,"resource":{"id":356956,"orderId":91302995,"externalOrderId":"PZYUUKJA","type":"customer","description":"Shipping method must be selected","appliedDate":"2015-06-09T16:29:54-07:00","clearedDate":null}},{"resourceLocation":null,"resource":{"id":356954,"orderId":91302995,"externalOrderId":"PZYUUKJA","type":"customer","description":"No warehouse selected","appliedDate":"2015-06-09T16:29:52-07:00","clearedDate":null}},{"resourceLocation":null,"resource":{"id":356952,"orderId":91302995,"externalOrderId":"PZYUUKJA","type":"customer","description":"Missing or unrecognized SKUs: FAKE-PRODUCT (item 1)","appliedDate":"2015-06-09T16:29:48-07:00","clearedDate":null}}]}},"items":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91302995\/items?offset=0&limit=20&expand=all","resource":{"offset":0,"total":0,"previous":null,"next":null,"items":[]}},"trackings":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91302995\/trackings?offset=0&limit=20&expand=all","resource":{"offset":0,"total":0,"previous":null,"next":null,"items":[]}},"returns":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/returns?offset=0&limit=20&expand=all","resource":{"offset":0,"total":0,"previous":null,"next":null,"items":[]}},"options":{"resourceLocation":null,"resource":{"warehouseId":"","warehouseExternalId":null,"warehouseRegion":null,"warehouseArea":null,"serviceLevelCode":null,"carrierCode":null,"carrierAccountNumber":null,"sameDay":"NOT REQUESTED","forceDuplicate":0,"forceAddress":0,"testOrder":0,"channelName":null,"referrer":""}},"shipFrom":{"resourceLocation":null,"resource":{"company":"WU Test"}},"shipTo":{"resourceLocation":null,"resource":{"email":"darrion_sanford@rodriguez.ca","name":"Mathilde Romaguera","company":null,"address1":"540 W BOYLSTON ST","address2":"","address3":"","city":"WORCESTER","state":"MA","postalCode":"01606","country":"US","phone":"977-701-4083","isCommercial":1,"isPoBox":0}},"commercialInvoice":{"resourceLocation":null,"resource":{"shippingValue":null,"insuranceValue":null,"additionalValue":null}},"packingList":{"resourceLocation":null,"resource":{"message1":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}},"message2":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}},"message3":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}},"other":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}}}},"routing":{"resourceLocation":null,"resource":{"warehouseId":null,"warehouseExternalId":null,"warehouseName":null,"originLongitude":null,"originLatitude":null,"destinationLongitude":"-71.7958","destinationLatitude":"42.3110"}},"events":{"resourceLocation":null,"resource":{"createdDate":"2015-06-09T16:29:48-07:00","pickedUpDate":null,"submittedDate":null,"processedDate":null,"completedDate":null,"expectedDate":null,"cancelledDate":null,"returnedDate":null,"lastManualUpdateDate":null}},"pricing":{"resourceLocation":null,"resource":{"shipping":null,"packaging":null,"insurance":null,"handling":null,"total":null}},"shipwireAnywhere":{"resourceLocation":null,"resource":{"status":null}},"pricingEstimate":{"resourceLocation":null,"resource":{"total":null,"insurance":null,"shipping":null,"packaging":null,"handling":null}}}}
  recorded_at: Tue, 09 Jun 2015 23:29:57 GMT
recorded_with: VCR 2.9.3
