---
http_interactions:
- request:
    method: put
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/orders/0
    body:
      encoding: UTF-8
      string: '{"orderNo":"MRNDOMRH","externalId":"MRNDOMRH","items":[{"sku":"FAKE-PRODUCT","quantity":1}],"options":{"currency":"MXN"},"shipTo":{"email":"julian.dooley@schaden.biz","name":"Hershel
        Schaden","address1":"1555 Southgate Road","address2":"","city":"Arlington","state":"VA","postalCode":"22214","country":"US","phone":"579-376-8156"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Process-Time-Seconds:
      - '0.033874'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"status":400,"message":"Order ID not detected. Please make a POST if you wish to create an order.","resourceLocation":null}
  recorded_at: Tue, 02 Jun 2015 19:45:37 GMT
recorded_with: VCR 2.9.3
