---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/orders/91292076/trackings?expand=trackings
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.035263'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91292076\/trackings?offset=0&limit=20&expand=trackings","resource":{"offset":0,"total":0,"previous":null,"next":null,"items":[]}}'
  recorded_at: Tue, 02 Jun 2015 19:45:10 GMT
recorded_with: VCR 2.9.3
