---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/retire
    body:
      encoding: UTF-8
      string: '{"ids":[203356]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.072697'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","moreInfo":[[{"id":203356,"externalId":"G75","status":"deprecated","sku":"O-3566","configuration":"INDIVIDUAL_ITEM","success":true},{"id":203357,"externalId":null,"status":"deprecated","sku":"A63","configuration":"MASTER_CASE","success":true}]],"resourceLocation":null}'
  recorded_at: Mon, 22 Jun 2015 16:30:26 GMT
recorded_with: VCR 2.9.3
