---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/retire
    body:
      encoding: UTF-8
      string: '{"ids":[202997]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.054674'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","moreInfo":[[{"id":202997,"externalId":"Z39","status":"deprecated","sku":"C2","configuration":"INDIVIDUAL_ITEM","success":true}]],"resourceLocation":null}'
  recorded_at: Thu, 11 Jun 2015 21:10:59 GMT
recorded_with: VCR 2.9.3
