---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/203171
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.054368'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203171","resource":{"id":203171,"externalId":"H-3907","sku":"UJ-4721","description":"Bripod
        Tag HD Controller","hsCode":null,"countryOfOrigin":null,"creationDate":"2015-06-17T16:27:12-07:00","archivedDate":null,"status":"notinuse","storageConfiguration":"KIT","batteryConfiguration":"NOBATTERY","classification":"kit","category":"OTHER","itemCount":1,"vendorId":null,"vendorExternalId":null,"dimensions":{"resourceLocation":null},"values":{"resourceLocation":null},"alternateNames":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203171\/alternateNames?offset=0&limit=20"},"kitContent":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203171\/content?offset=0&limit=20"},"technicalData":{"resourceLocation":null},"flags":{"resourceLocation":null},"enqueuedDimensions":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203171\/enqueuedDimensions?offset=0&limit=20"},"innerPack":{"resourceLocation":null},"masterCase":{"resourceLocation":null},"pallet":{"resourceLocation":null}}}'
  recorded_at: Wed, 17 Jun 2015 23:28:04 GMT
recorded_with: VCR 2.9.3
