---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/510000013
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.039409'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/virtualKits\/510000013","resource":{"id":510000013,"externalId":"F-6200","sku":"U68","creationDate":"2015-06-17T17:04:14-07:00","description":"Pont
        Input Transmitter","status":"instock","classification":"virtualKit","virtualKitContent":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/virtualKits\/510000013\/content?offset=0&limit=20"},"flags":{"resourceLocation":null}}}'
  recorded_at: Thu, 18 Jun 2015 00:04:14 GMT
recorded_with: VCR 2.9.3
