---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/retire
    body:
      encoding: UTF-8
      string: '{"ids":[202960]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.067467'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","moreInfo":[[{"id":202960,"externalId":"A-1769","status":"deprecated","sku":"X70","configuration":"INDIVIDUAL_ITEM","success":true},{"id":202961,"externalId":null,"status":"deprecated","sku":"A56","configuration":"MASTER_CASE","success":true}]],"resourceLocation":null}'
  recorded_at: Tue, 09 Jun 2015 23:28:05 GMT
recorded_with: VCR 2.9.3
