---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/retire
    body:
      encoding: UTF-8
      string: '{"ids":[203358]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.056755'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","moreInfo":[[{"id":203358,"externalId":"K30","status":"deprecated","sku":"W59","configuration":"KIT","success":true}]],"resourceLocation":null}'
  recorded_at: Mon, 22 Jun 2015 16:30:31 GMT
recorded_with: VCR 2.9.3
