---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/retire
    body:
      encoding: UTF-8
      string: '{"ids":[203496]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.058836'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","moreInfo":[[{"id":203496,"externalId":"SE-1828","status":"deprecated","sku":"K64","configuration":"INDIVIDUAL_ITEM","success":true}]],"resourceLocation":null}'
  recorded_at: Mon, 22 Jun 2015 20:36:42 GMT
recorded_with: VCR 2.9.3
