---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products
    body:
      encoding: UTF-8
      string: '[{"sku":"Y-9669","externalId":"F10","description":"Subsche Air Adapter","classification":"fake","category":"OTHER","batteryConfiguration":"NOBATTERY","values":{"costValue":1,"retailValue":4},"dimensions":{"length":1,"width":1,"height":1,"weight":1},"flags":{"isPackagedReadyToShip":1,"isFragile":0,"isDangerous":0,"isPerishable":0,"isLiquid":0,"isMedia":0,"isAdult":0,"hasInnerPack":0,"hasMasterCase":0,"hasPallet":0}},{"sku":"I88","externalId":"G-4037","description":"Reusche
        Disc Side Compressor","classification":"marketingInsert","category":"OTHER","batteryConfiguration":"NOBATTERY","values":{"costValue":1,"retailValue":4},"dimensions":{"length":1,"width":1,"height":0.1,"weight":0.1},"flags":{"isPackagedReadyToShip":1,"isFragile":0,"isDangerous":0,"isPerishable":0,"isLiquid":0,"isMedia":0,"isAdult":0,"hasInnerPack":0,"hasMasterCase":0,"hasPallet":0},"masterCase":{"individualItemsPerCase":1,"sku":"M79","description":"Finsync
        Direct Tag Bridge","dimensions":{"length":1,"width":1,"height":1,"weight":1}},"inclusionRules":{"insertWhenWorthCurrency":"USD"}},{"sku":"L64","externalId":"P26","description":"ZYO
        Audible System","classification":"kit","category":"OTHER","batteryConfiguration":"NOBATTERY","values":{"costValue":1,"retailValue":4},"dimensions":{"length":1,"width":1,"height":1,"weight":1},"flags":{"isPackagedReadyToShip":1,"isFragile":0,"isDangerous":0,"isPerishable":0,"isLiquid":0,"isMedia":0,"isAdult":0,"hasInnerPack":0,"hasMasterCase":0,"hasPallet":0},"kitContent":[{"externalId":"TEST-PRODUCT","quantity":1},{"externalId":"TEST-PRODUCT2","quantity":1}]},{"sku":"A-4516","externalId":"K-4977","description":"Ponce
        Performance Disc Compressor","classification":"virtualKit","category":"OTHER","batteryConfiguration":"NOBATTERY","values":{"costValue":1,"retailValue":4},"dimensions":{"length":1,"width":1,"height":1,"weight":1},"flags":{"isPackagedReadyToShip":1,"isFragile":0,"isDangerous":0,"isPerishable":0,"isLiquid":0,"isMedia":0,"isAdult":0,"hasInnerPack":0,"hasMasterCase":0,"hasPallet":0},"virtualKitContent":[{"externalId":"TEST-PRODUCT","quantity":1},{"externalId":"TEST-PRODUCT2","quantity":1}]}]'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.372687'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","errors":[{"message":"Product
        Classification not detected. Please pass classification for each product.","type":"error","code":400,"sku":"Y-9669"}],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products?offset=0&limit=3","resource":{"offset":0,"total":3,"previous":null,"next":null,"items":[{"errors":[{"message":"Product
        Classification not detected. Please pass classification for each product.","type":"error","code":400,"sku":"Y-9669"}],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203501","resource":{"id":203501,"externalId":"P26","sku":"L64","description":"ZYO
        Audible System","hsCode":null,"countryOfOrigin":null,"creationDate":"2015-06-22T13:36:39-07:00","archivedDate":null,"status":"notinuse","storageConfiguration":"KIT","batteryConfiguration":"NOBATTERY","classification":"kit","category":"OTHER","itemCount":1,"vendorId":null,"vendorExternalId":null,"dimensions":{"resourceLocation":null},"values":{"resourceLocation":null},"alternateNames":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203501\/alternateNames?offset=0&limit=20"},"kitContent":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203501\/content?offset=0&limit=20"},"technicalData":{"resourceLocation":null},"flags":{"resourceLocation":null},"enqueuedDimensions":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203501\/enqueuedDimensions?offset=0&limit=20"},"innerPack":{"resourceLocation":null},"masterCase":{"resourceLocation":null},"pallet":{"resourceLocation":null}}},{"errors":[{"message":"Product
        Classification not detected. Please pass classification for each product.","type":"error","code":400,"sku":"Y-9669"}],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/marketingInserts\/203502","resource":{"id":203502,"externalId":"G-4037","sku":"I88","description":"Reusche
        Disc Side Compressor","inclusionRuleType":"CUSTOM","creationDate":"2015-06-22T13:36:39-07:00","archivedDate":null,"status":"notinuse","storageConfiguration":"INDIVIDUAL_ITEM","classification":"marketingInsert","itemCount":1,"vendorId":null,"vendorExternalId":null,"dimensions":{"resourceLocation":null},"alternateNames":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/marketingInserts\/203502\/alternateNames?offset=0&limit=20"},"flags":{"resourceLocation":null},"inclusionRules":{"resourceLocation":null},"masterCase":{"resourceLocation":null}}},{"errors":[{"message":"Product
        Classification not detected. Please pass classification for each product.","type":"error","code":400,"sku":"Y-9669"}],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/virtualKits\/510000029","resource":{"id":510000029,"externalId":"K-4977","sku":"A-4516","creationDate":"2015-06-22T13:36:39-07:00","description":"Ponce
        Performance Disc Compressor","status":"instock","classification":"virtualKit","virtualKitContent":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/virtualKits\/510000029\/content?offset=0&limit=20"},"flags":{"resourceLocation":null}}}]}}'
  recorded_at: Mon, 22 Jun 2015 20:36:39 GMT
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/retire
    body:
      encoding: UTF-8
      string: '{"ids":[203501,203502,510000029]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.099810'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","moreInfo":[[{"id":203501,"externalId":"P26","status":"deprecated","sku":"L64","configuration":"KIT","success":true}],[{"id":203502,"externalId":"G-4037","status":"deprecated","sku":"I88","configuration":"INDIVIDUAL_ITEM","success":true},{"id":203503,"externalId":null,"status":"deprecated","sku":"M79","configuration":"MASTER_CASE","success":true}],[{"id":510000029,"externalId":"K-4977","status":"deleted","sku":"A-4516","configuration":"virtualKit","success":true}]],"resourceLocation":null}'
  recorded_at: Mon, 22 Jun 2015 20:36:40 GMT
recorded_with: VCR 2.9.3
