---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/retire
    body:
      encoding: UTF-8
      string: '{"ids":[202959]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.053085'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","moreInfo":[[{"id":202959,"externalId":"K-6187","status":"deprecated","sku":"Q3","configuration":"INDIVIDUAL_ITEM","success":true}]],"resourceLocation":null}'
  recorded_at: Tue, 09 Jun 2015 23:28:00 GMT
recorded_with: VCR 2.9.3
