---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/203358
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.050585'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203358","resource":{"id":203358,"externalId":"K30","sku":"W59","description":"Troune
        Air System","hsCode":null,"countryOfOrigin":null,"creationDate":"2015-06-22T09:30:28-07:00","archivedDate":null,"status":"notinuse","storageConfiguration":"KIT","batteryConfiguration":"NOBATTERY","classification":"kit","category":"OTHER","itemCount":1,"vendorId":null,"vendorExternalId":null,"dimensions":{"resourceLocation":null},"values":{"resourceLocation":null},"alternateNames":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203358\/alternateNames?offset=0&limit=20"},"kitContent":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203358\/content?offset=0&limit=20"},"technicalData":{"resourceLocation":null},"flags":{"resourceLocation":null},"enqueuedDimensions":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/products\/kits\/203358\/enqueuedDimensions?offset=0&limit=20"},"innerPack":{"resourceLocation":null},"masterCase":{"resourceLocation":null},"pallet":{"resourceLocation":null}}}'
  recorded_at: Mon, 22 Jun 2015 16:30:28 GMT
recorded_with: VCR 2.9.3
