---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/products/retire
    body:
      encoding: UTF-8
      string: '{"ids":[203171]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.055446'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","moreInfo":[[{"id":203171,"externalId":"H-3907","status":"deprecated","sku":"UJ-4721","configuration":"KIT","success":true}]],"resourceLocation":null}'
  recorded_at: Wed, 17 Jun 2015 23:29:45 GMT
recorded_with: VCR 2.9.3
