---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/rate
    body:
      encoding: UTF-8
      string: '{"options":{"currency":"USD","groupBy":"all"},"order":{"shipTo":{"address1":"1555
        Southgate Road","address2":"","city":"Arlington","postalCode":"22214","region":"VA","country":"US"},"items":[{"sku":"TEST-PRODUCT","quantity":1}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.099505'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","warnings":[{"type":"warning","code":"unrateableGroup","message":"
        (external ID )"}],"resourceLocation":null}'
  recorded_at: Tue, 02 Jun 2015 19:36:31 GMT
recorded_with: VCR 2.9.3
