---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/rate
    body:
      encoding: UTF-8
      string: '{"options":{"currency":"USD","groupBy":"all"},"order":{"shipTo":{"address1":"1555
        Southgate Road","address2":"","city":"Arlington","postalCode":"22214","region":"VA","country":"US"},"items":[{"sku":"NON-EXISTANT-PRODUCT","quantity":1}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Process-Time-Seconds:
      - '0.039453'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":422,"message":"One or more errors occurred processing this
        rate request.","errors":[{"type":"error","code":"sku","message":"unknown SKU
        ''NON-EXISTANT-PRODUCT''"}],"resourceLocation":null}'
  recorded_at: Tue, 02 Jun 2015 19:36:31 GMT
recorded_with: VCR 2.9.3
