---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/rate
    body:
      encoding: UTF-8
      string: '{"options":{"currency":"USD"},"order":{"shipTo":{"address1":"540 West
        Boylston St.","city":"Worcester","postalCode":"01606","region":"MA","country":"US"},"items":[{"sku":"TEST-PRODUCT","quantity":1}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.137173'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","warnings":[{"type":"warning","code":"unrateableGroup","message":"
        (external ID )"}],"resourceLocation":null}'
  recorded_at: Tue, 09 Jun 2015 23:27:19 GMT
recorded_with: VCR 2.9.3
