---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/rate
    body:
      encoding: UTF-8
      string: '{"options":{"currency":"USD","groupBy":"all"},"order":{"shipTo":{"address1":"540
        West Boylston St.","city":"Worcester","postalCode":"01606","region":"MA","country":"US"},"items":[{"sku":"FAKE-PRODUCT","quantity":1}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      X-Process-Time-Seconds:
      - '0.031043'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":422,"message":"One or more errors occurred processing this
        rate request.","errors":[{"type":"error","code":"sku","message":"unknown SKU
        ''FAKE-PRODUCT''"}],"resourceLocation":null}'
  recorded_at: Mon, 22 Jun 2015 23:06:18 GMT
recorded_with: VCR 2.9.3
