---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/rate
    body:
      encoding: UTF-8
      string: '{"options":{"currency":"USD"},"order":{"shipTo":{"address1":"540 West
        Boylston St.","city":"Worcester","postalCode":"01606","region":"MA","country":"US"},"items":[{"sku":"TEST-PRODUCT","quantity":1}]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '1.967464'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":null,"resource":{"groupBy":"all","rates":[{"serviceOptions":[{"serviceLevelCode":"GD","serviceLevelName":"Ground","shipments":[{"warehouseName":"LA","carrier":{"code":"FDX
        SP1","name":"FDX","description":"FedEx SmartPost","properties":["trackable"]},"cost":{"currency":"USD","type":"total","name":"Total","amount":9.79,"converted":false,"originalCost":9.79,"originalCurrency":"USD"},"subtotals":[{"currency":"USD","type":"shipping","name":"Shipping","amount":9.79,"converted":false,"originalCost":9.79,"originalCurrency":"USD"},{"currency":"USD","type":"insurance","name":"Insurance","amount":0,"converted":false,"originalCost":0,"originalCurrency":"USD"},{"currency":"USD","type":"packaging","name":"Packaging","amount":0,"converted":false,"originalCost":0,"originalCurrency":"USD"},{"currency":"USD","type":"handling","name":"Handling","amount":0,"converted":false,"originalCost":0,"originalCurrency":"USD"}],"pieces":[{"length":{"amount":8,"units":"in"},"width":{"amount":4,"units":"in"},"height":{"amount":4,"units":"in"},"weight":{"amount":1.3041666666667,"units":"lbs","type":"total"},"subweights":[{"amount":0.2,"units":"lbs","type":"packaging"},{"amount":0.10416666666667,"units":"lbs","type":"voidFill"},{"amount":1,"units":"lbs","type":"products"}],"contents":[{"sku":"TEST-PRODUCT","quantity":1}]}],"expectedShipDate":"2015-06-09T05:30:00-07:00","expectedDeliveryMinDate":"2015-06-11T05:30:00-07:00","expectedDeliveryMaxDate":"2015-06-18T05:30:00-07:00"}]},{"serviceLevelCode":"2D","serviceLevelName":"Second
        Day","shipments":[{"warehouseName":"LA","carrier":{"code":"FDX 2D","name":"FDX","description":"FedEx
        2Day","properties":["trackable"]},"cost":{"currency":"USD","type":"total","name":"Total","amount":31.98,"converted":false,"originalCost":31.98,"originalCurrency":"USD"},"subtotals":[{"currency":"USD","type":"shipping","name":"Shipping","amount":31.98,"converted":false,"originalCost":31.98,"originalC[...]
