---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/receivings/91301190/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.034506'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91301190\/items?offset=0&limit=20","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":null,"resource":{"sku":"TEST-PRODUCT","quantity":5,"productId":202574,"productExternalId":null,"orderId":91301190,"orderExternalId":"H-2000","expected":5,"pending":5,"good":0,"inReview":0,"damaged":0}}]}}'
  recorded_at: Mon, 08 Jun 2015 21:35:36 GMT
recorded_with: VCR 2.9.3
