---
http_interactions:
- request:
    method: put
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/receivings/91302993?expand=all
    body:
      encoding: UTF-8
      string: '{"externalId":"P-5867","expectedDate":"2015-06-09T16:28:59-07:00","arrangement":{"type":"none"},"items":[{"sku":"TEST-PRODUCT","quantity":5}],"shipments":[{"length":1,"width":1,"height":1,"weight":1,"type":"box"}],"options":{"warehouseRegion":"LAX"},"shipFrom":{"email":"kari@bruen.com","name":"Aliya
        Bartoletti","address1":"540 West Boylston St.","city":"Worcester","state":"MA","postalCode":"01606","country":"US","phone":"493-713-3171"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '5.970955'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91302993","resource":{"externalId":"P-5867","id":91302993,"transactionId":"1433892527","expectedDate":"2015-06-09T00:00:00-07:00","commerceName":"Shipwire","lastUpdatedDate":"2015-06-09T16:28:59-07:00","status":"processed","items":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91302993\/items?offset=0&limit=20&expand=all","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":null,"resource":{"sku":"TEST-PRODUCT","quantity":5,"productId":202574,"productExternalId":null,"orderId":91302993,"orderExternalId":"P-5867","expected":5,"pending":5,"good":0,"inReview":0,"damaged":0}}]}},"holds":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91302993\/holds?offset=0&limit=20&expand=all","resource":{"offset":0,"total":2,"previous":null,"next":null,"items":[{"resourceLocation":null,"resource":{"id":356951,"orderId":91302993,"externalOrderId":"P-5867","type":"shipwire","description":"Order
        requires review by Shipwire","appliedDate":"2015-06-09T16:28:49-07:00","clearedDate":null}},{"resourceLocation":null,"resource":{"id":356950,"orderId":91302993,"externalOrderId":"P-5867","type":"customer","description":"Missing
        tracking information","appliedDate":"2015-06-09T16:28:48-07:00","clearedDate":null}}]}},"trackings":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91302993\/trackings?offset=0&limit=20&expand=all","resource":{"offset":0,"total":0,"previous":null,"next":null,"items":[]}},"shipments":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91302993\/shipments?offset=0&limit=20&expand=all","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91302993\/shipments\/8511","resource":{"shipmentId":8511,"length":"0.0","width":"0.0","height":"0.0","weight":"0.0000","type":"box"}}]}},"labels":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91302993\/labels?offset=0&limit=20&expand=all","resource":{"offset":0,"total":0,"previous":null,"next":null,"items":[]}},"instructionsRecipients":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91302993\/instructionsRecipients?offset=0&limit=20&expand=all","resource":{"offset":0,"total":0,"previous":null,"next":null,"items":[]}},"options":{"resourceLocation":null,"resource":{"warehouseId":11,"warehouseExternalId":null,"warehouseRegion":"LAX"}},"arrangement":{"resourceLocation":null,"resource":{"type":"none","contact":"","phone":""}},"shipFrom":{"resourceLocation":null,"resource":{"email":"kari@bruen.com","name":"Aliya
        Bartoletti","address1":"540 West Boylston St.","address2":null,"address3":null,"city":"Worcester","state":"MA","postalCode":"01606","country":"US","phone":"493-713-3171"}},"routing":{"resourceLocation":null,"resource":{"warehouseId":11,"warehouseExternalId":null,"warehouseName":"LA","originLongitude":34.075,"originLatitude":-117.378,"warehouseRegion":"LAX"}},"events":{"resourceLocation":null,"resource":{"createdDate":"2015-06-09T16:28:47-07:00","pickedUpDate":null,"submittedDate":null,"processedDate":"2015-06-09T16:28:59-07:00","completedDate":null,"expectedDate":"2015-06-09T00:00:00-07:00","deliveredDate":null,"cancelledDate":null,"returnedDate":null,"lastManualUpdateDate":null}}}}'
  recorded_at: Tue, 09 Jun 2015 23:29:05 GMT
recorded_with: VCR 2.9.3
