---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/receivings/91301190?expand=holds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.056100'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91301190","resource":{"externalId":"H-2000","id":91301190,"transactionId":"1433798304","expectedDate":"2015-06-08T00:00:00-07:00","commerceName":"Shipwire","lastUpdatedDate":"2015-06-08T14:18:24-07:00","status":"processed","items":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91301190\/items?offset=0&limit=20&expand=holds"},"holds":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91301190\/holds?offset=0&limit=20&expand=holds","resource":{"offset":0,"total":2,"previous":null,"next":null,"items":[{"resourceLocation":null,"resource":{"id":356252,"orderId":91301190,"externalOrderId":"H-2000","type":"shipwire","description":"Order
        requires review by Shipwire","appliedDate":"2015-06-08T14:18:26-07:00","clearedDate":null}},{"resourceLocation":null,"resource":{"id":356251,"orderId":91301190,"externalOrderId":"H-2000","type":"customer","description":"Missing
        tracking information","appliedDate":"2015-06-08T14:18:25-07:00","clearedDate":null}}]}},"trackings":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91301190\/trackings?offset=0&limit=20&expand=holds"},"shipments":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91301190\/shipments?offset=0&limit=20&expand=holds"},"labels":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91301190\/labels?offset=0&limit=20&expand=holds"},"instructionsRecipients":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91301190\/instructionsRecipients?offset=0&limit=20&expand=holds"},"options":{"resourceLocation":null,"resource":{"warehouseId":11,"warehouseExternalId":null,"warehouseRegion":"LAX"}},"arrangement":{"resourceLocation":null,"resource":{"type":"none","contact":"","phone":""}},"shipFrom":{"resourceLocation":null,"resource":{"email":"maribel@hettinger.com","name":"Erika
        Cronin","address1":"540 West Boylston St.","address2":null,"address3":null,"city":"Worcester","state":"MA","postalCode":"01606","country":"US","phone":"343-784-8122"}},"routing":{"resourceLocation":null,"resource":{"warehouseId":11,"warehouseExternalId":null,"warehouseName":"LA","originLongitude":34.075,"originLatitude":-117.378,"warehouseRegion":"LAX"}},"events":{"resourceLocation":null,"resource":{"createdDate":"2015-06-08T14:18:24-07:00","pickedUpDate":null,"submittedDate":null,"processedDate":"2015-06-08T14:18:24-07:00","completedDate":null,"expectedDate":"2015-06-08T00:00:00-07:00","deliveredDate":null,"cancelledDate":null,"returnedDate":null,"lastManualUpdateDate":null}}}}'
  recorded_at: Mon, 08 Jun 2015 21:23:57 GMT
recorded_with: VCR 2.9.3
