---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/receivings/91302993/holds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.024161'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91302993\/holds?offset=0&limit=20","resource":{"offset":0,"total":2,"previous":null,"next":null,"items":[{"resourceLocation":null,"resource":{"id":356951,"orderId":91302993,"externalOrderId":"P-5867","type":"shipwire","description":"Order
        requires review by Shipwire","appliedDate":"2015-06-09T16:28:49-07:00","clearedDate":null}},{"resourceLocation":null,"resource":{"id":356950,"orderId":91302993,"externalOrderId":"P-5867","type":"customer","description":"Missing
        tracking information","appliedDate":"2015-06-09T16:28:48-07:00","clearedDate":null}}]}}'
  recorded_at: Tue, 09 Jun 2015 23:29:07 GMT
recorded_with: VCR 2.9.3
