---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/receivings/91301190/holds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.025033'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/receivings\/91301190\/holds?offset=0&limit=20","resource":{"offset":0,"total":2,"previous":null,"next":null,"items":[{"resourceLocation":null,"resource":{"id":356252,"orderId":91301190,"externalOrderId":"H-2000","type":"shipwire","description":"Order
        requires review by Shipwire","appliedDate":"2015-06-08T14:18:26-07:00","clearedDate":null}},{"resourceLocation":null,"resource":{"id":356251,"orderId":91301190,"externalOrderId":"H-2000","type":"customer","description":"Missing
        tracking information","appliedDate":"2015-06-08T14:18:25-07:00","clearedDate":null}}]}}'
  recorded_at: Mon, 08 Jun 2015 21:28:34 GMT
recorded_with: VCR 2.9.3
