---
http_interactions:
- request:
    method: put
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/receivings/0
    body:
      encoding: UTF-8
      string: '{"externalId":"OW-7899","expectedDate":"2015-06-09T16:28:53-07:00","arrangement":{"type":"none"},"items":[{"sku":"TEST-PRODUCT","quantity":5}],"shipments":[{"length":1,"width":1,"height":1,"weight":1,"type":"box"}],"options":{"warehouseRegion":"LAX"},"shipFrom":{"email":"dayana@murazik.info","name":"Amely
        Bailey","address1":"540 West Boylston St.","city":"Worcester","state":"MA","postalCode":"01606","country":"US","phone":"582-480-4758"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Process-Time-Seconds:
      - '0.026032'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"Order ID not detected. Please make a POST
        if you wish to create an order.","resourceLocation":null}'
  recorded_at: Tue, 09 Jun 2015 23:28:54 GMT
recorded_with: VCR 2.9.3
