---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/returns/91303043/items
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.028045'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/returns\/91303043\/items?offset=0&limit=20","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":null,"resource":{"sku":"TEST-PRODUCT","quantity":1,"productId":202574,"productExternalId":null,"orderId":91303043,"orderExternalId":null,"expected":1,"pending":1,"good":0,"inReview":0,"damaged":0}}]}}'
  recorded_at: Wed, 10 Jun 2015 00:21:45 GMT
recorded_with: VCR 2.9.3
