---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/orders
    body:
      encoding: UTF-8
      string: '{"orderNo":"SZAJQPTL","externalId":"SZAJQPTL","items":[{"sku":"TEST-PRODUCT","quantity":1}],"options":{"currency":"USD"},"shipTo":{"email":"estell@morar.com","name":"Samir
        Murazik","address1":"540 West Boylston St.","city":"Worcester","state":"MA","postalCode":"01606","country":"US","phone":"272-778-0322"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.880900'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"status":200,"message":"Successful","warnings":[{"type":"warning","code":"orderSubmitWarnings","message":"Order was marked residential; now marked commercial","orderNo":"SZAJQPTL","externalId":"SZAJQPTL","id":91301303}],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders?offset=0&limit=1","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"warnings":[{"type":"warning","code":"orderSubmitWarnings","message":"Order was marked residential; now marked commercial","orderNo":"SZAJQPTL","externalId":"SZAJQPTL","id":91301303}],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91301303","resource":{"externalId":"SZAJQPTL","orderNo":"SZAJQPTL","commerceName":"Shipwire","processAfterDate":"2000-01-01T00:00:00-08:00","lastUpdatedDate":"2015-06-08T15:42:13-07:00","status":"held","id":91301303,"transactionId":"1433803333-029832-1","needsReview":0,"holds":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91301303\/holds?offset=0&limit=20"},"items":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91301303\/items?offset=0&limit=20"},"trackings":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91301303\/trackings?offset=0&limit=20"},"returns":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/returns?offset=0&limit=20"},"options":{"resourceLocation":null,"resource":{"warehouseId":"","warehouseExternalId":null,"warehouseRegion":null,"warehouseArea":null,"serviceLevelCode":null,"carrierCode":null,"carrierAccountNumber":null,"sameDay":"NOT REQUESTED","forceDuplicate":0,"forceAddress":0,"testOrder":0,"channelName":null,"referrer":""}},"shipFrom":{"resourceLocation":null,"resource":{"company":"WU Test"}},"shipTo":{"resourceLocation":null,"resource":{"email":"estell@morar.com","name":"Samir Murazik","company":"","address1":"540 W BOYLSTON ST","address2":"","address3":"","city":"WORCESTER","state":"MA","postalCode":"01606","country":"US","phone":"272-778-0322","isCommercial":1,"isPoBox":0}},"commercialInvoice":{"resourceLocation":null,"resource":{"shippingValue":null,"insuranceValue":null,"additionalValue":null}},"packingList":{"resourceLocation":null,"resource":{"message1":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}},"message2":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}},"message3":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}},"other":{"resourceLocation":null,"resource":{"document":null,"header":null,"location":null,"body":null}}}},"routing":{"resourceLocation":null,"resource":{"warehouseId":null,"warehouseExternalId":null,"warehouseName":null,"originLongitude":null,"originLatitude":null,"destinationLongitude":"-71.7958","destinationLatitude":"42.3110"}},"events":{"resourceLocation":null,"resource":{"createdDate":"2015-06-08T15:42:13-07:00","pickedUpDate":null,"submittedDate":null,"processedDate":null,"completedDate":null,"expectedDate":null,"cancelledDate":null,"returnedDate":null,"lastManualUpdateDate":null}},"pricing":{"resourceLocation":null,"resource":{"shipping":null,"packaging":null,"insurance":null,"handling":null,"total":null}},"shipwireAnywhere":{"resourceLocation":null,"resource":{"status":null}},"pricingEstimate":{"resourceLocation":null,"resource":{"total":null,"insurance":null,"shipping":null,"packaging":null,"handling":null}}}}]}}
  recorded_at: Mon, 08 Jun 2015 22:42:13 GMT
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/returns
    body:
      encoding: UTF-8
      string: '{"originalOrder":{"id":91301303},"items":[{"sku":"TEST-PRODUCT","quantity":1}],"options":{"emailCustomer":0}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"status":500,"message":"Something went wrong - error ID: 5c759088a50b20cfa0ab15251e68a6c4","resourceLocation":null}
  recorded_at: Mon, 08 Jun 2015 22:42:14 GMT
recorded_with: VCR 2.9.3
