---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/returns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.061224'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

        {"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/returns?offset=0&limit=20","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/returns\/91302947","resource":{"externalId":null,"id":91302947,"transactionId":"1433890406","expectedDate":"2015-06-09T15:53:26-07:00","commerceName":null,"lastUpdatedDate":"2015-06-09T16:01:36-07:00","status":"cancelled","items":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/returns\/91302947\/items?offset=0&limit=20"},"holds":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/returns\/91302947\/holds?offset=0&limit=20"},"trackings":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/returns\/91302947\/trackings?offset=0&limit=20"},"labels":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/returns\/91302947\/labels?offset=0&limit=20"},"routing":{"resourceLocation":null,"resource":{"warehouseId":8391,"warehouseExternalId":null,"warehouseName":"Death Star","originLongitude":38.5798,"originLatitude":-121.489,"warehouseRegion":"DEATH1"}},"events":{"resourceLocation":null,"resource":{"createdDate":"2015-06-09T15:53:26-07:00","pickedUpDate":null,"submittedDate":"2015-06-09T16:01:36-07:00","processedDate":"2015-06-09T16:01:36-07:00","completedDate":"2015-06-09T16:01:36-07:00","expectedDate":"2015-06-09T15:53:26-07:00","deliveredDate":null,"cancelledDate":"2015-06-09T16:01:36-07:00","returnedDate":null,"lastManualUpdateDate":null}},"originalOrder":{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/orders\/91302943"}}}]}}
  recorded_at: Tue, 09 Jun 2015 23:33:59 GMT
recorded_with: VCR 2.9.3
