---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/secret/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.023835'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/secret\/126","resource":{"id":126,"secret":"37c3a0c6675de1ebd6c60ab9cfecf9bfcc774ee7abb6518598f8bab37039a55553b2294fc48efc8598354a6767ed563cecefee66775b556f6e4a1c9d13f7384d","expiration":null}}'
  recorded_at: Fri, 05 Jun 2015 19:26:13 GMT
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/secret/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":404,"message":"Not found","resourceLocation":null}'
  recorded_at: Mon, 08 Jun 2015 22:13:48 GMT
recorded_with: VCR 2.9.3
