---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/stock
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.071458'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":null,"resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":null,"resource":{"productId":202574,"productExternalId":null,"sku":"TEST-PRODUCT","isBundle":0,"isAlias":0,"warehouseRegion":"DEATH1","warehouseId":8391,"warehouseExternalId":null,"pending":0,"good":10,"reserved":0,"backordered":0,"shipping":0,"shipped":0,"creating":0,"consuming":0,"consumed":0,"created":0,"damaged":0,"returned":0,"inreview":0,"availableDate":null,"shippedLastDay":0,"shippedLastWeek":0,"shippedLast4Weeks":0,"orderedLastDay":0,"orderedLastWeek":0,"orderedLast4Weeks":0}}]}}'
  recorded_at: Tue, 02 Jun 2015 18:21:12 GMT
recorded_with: VCR 2.9.3
