---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/webhooks/267
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.034895'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks\/267","resource":{"id":267,"topic":"v1.order.created","url":"https:\/\/demo.spreecommerce.com\/webhooks"}}'
  recorded_at: Tue, 02 Jun 2015 18:33:59 GMT
recorded_with: VCR 2.9.3
