---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/webhooks
    body:
      encoding: UTF-8
      string: '{"topic":"order.created","url":"http://www.reddit.com/"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Process-Time-Seconds:
      - '0.023027'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"Invalid request","errors":["Invalid URL"],"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks?offset=0&limit=1","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"errors":["Invalid
        URL"],"resourceLocation":null,"resource":{"id":0,"topic":"order.created","url":"http:\/\/www.reddit.com\/"}}]}}'
  recorded_at: Mon, 22 Jun 2015 21:26:56 GMT
recorded_with: VCR 2.9.3
