---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/webhooks
    body:
      encoding: UTF-8
      string: '{"topic":"order.created","url":"https://www.shipwire.com/"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.298390'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks?offset=0&limit=1","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks\/271","resource":{"id":271,"topic":"order.created","url":"https:\/\/www.shipwire.com\/"}}]}}'
  recorded_at: Mon, 22 Jun 2015 21:26:56 GMT
recorded_with: VCR 2.9.3
