---
http_interactions:
- request:
    method: get
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.169422'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks?offset=0&limit=20","resource":{"offset":0,"total":3,"previous":null,"next":null,"items":[{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks\/264","resource":{"id":264,"topic":"v1.order.created","url":"https:\/\/demo.spreecommerce.com\/webhooks"}},{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks\/265","resource":{"id":265,"topic":"v1.order.created","url":"https:\/\/demo.spreecommerce.com\/webhooks"}},{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks\/266","resource":{"id":266,"topic":"v1.order.created","url":"https:\/\/demo.spreecommerce.com\/webhooks\/path"}}]}}'
  recorded_at: Tue, 09 Jun 2015 23:26:30 GMT
recorded_with: VCR 2.9.3
