---
http_interactions:
- request:
    method: post
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/webhooks
    body:
      encoding: UTF-8
      string: '{"topic":"order.created","url":"https://demo.spreecommerce.com/webhooks"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.654980'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks?offset=0&limit=1","resource":{"offset":0,"total":1,"previous":null,"next":null,"items":[{"resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks\/268","resource":{"id":268,"topic":"order.created","url":"https:\/\/demo.spreecommerce.com\/webhooks"}}]}}'
  recorded_at: Tue, 09 Jun 2015 23:26:31 GMT
recorded_with: VCR 2.9.3
