---
http_interactions:
- request:
    method: put
    uri: https://david.freerksen%40groundctrl.com:gOg6maBr6E@api.beta.shipwire.com/api/v3/webhooks/268
    body:
      encoding: UTF-8
      string: '{"topic":"order.created","url":"https://demo.spreecommerce.com/webhooks/path"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Process-Time-Seconds:
      - '0.341962'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":200,"message":"Successful","resourceLocation":"https:\/\/api.beta.shipwire.com\/api\/v3\/webhooks\/268","resource":{"id":268,"topic":"order.created","url":"https:\/\/demo.spreecommerce.com\/webhooks\/path"}}'
  recorded_at: Tue, 09 Jun 2015 23:26:33 GMT
recorded_with: VCR 2.9.3
